<!DOCTYPE html>
<html lang="ko" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/newAccount.css">
    <link rel="stylesheet" href="/static/css/board.css">
</head>
<body>
<div class="container">
    <aside th:replace="/index :: .aside-left"></aside>
    <div class="seung-wrapper">
        <nav th:replace="/index :: .nav-main"></nav>
        <div class="wrapper-contents">
            <!-- 여기부터 페이지마다 다름 -->
            <div class="board_header">
                <a class="btn_write" href="/test">글쓰기</a>
                <h3 class="header_title">공지사항</h3>
            </div>
            <table class="board_body_table">
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">분류</th>
                    <th scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">날짜</th>
                    <th scope="col">조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="notice"><span>공지</span></td>
                    <td class="category_notice"><span>알림</span></td>
                    <td class="title"><span>공지사항 테스트 1번</span></td>
                    <td class="author"><span>test</span></td>
                    <td class="time"><span>2022.11.23</span></td>
                    <td class="readNum"><span>1</span></td>
                </tr>
                <tr>
                    <td class="notice"><span>공지</span></td>
                    <td class="category_notice"><span>알림</span></td>
                    <td class="title"><span>공지사항 테스트 2번</span></td>
                    <td class="author"><span>test</span></td>
                    <td class="time"><span>2022.11.23</span></td>
                    <td class="readNum"><span>10</span></td>
                </tr>
                <tr>
                    <td class="no">1</td>
                    <td class="category_update"><span>업뎃</span></td>
                    <td class="title"><span>공지사항 업데이트 테스트 1번</span></td>
                    <td class="author"><span>test</span></td>
                    <td class="time"><span>2022.11.23</span></td>
                    <td class="readNum"><span>999</span></td>
                </tr>
                <tr>
                    <td class="no">2</td>
                    <td class="category_notice"><span>알림</span></td>
                    <td class="title"><span>공지사항 일반글 테스트 1번</span></td>
                    <td class="author"><span>test</span></td>
                    <td class="time"><span>2022.11.23</span></td>
                    <td class="readNum"><span>555</span></td>
                </tr>
                </tbody>
            </table>
            <div class="board_footer_others">
                검색, 페이징, 쓰기버튼
            </div>
            <!-- 여기까지 페이지마다 다름 -->
        </div>
        <div th:replace="/index :: .wrapper-aside-right"></div>
    </div>
</div>
<script src="/static/js/indexFront.js"></script>
</body>
</html>