<!DOCTYPE html>
<html lang="ko" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 수정</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/newAccount.css">
    <link rel="stylesheet" href="/static/css/board.css">
    <!-- 클래식 에디터 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
    <style>
        .ck-editor__editable {
            height: 400px;
        }

        .ck-content {
            font-size: 12px;
        }
    </style>
</head>
<body>
<div class="container">
    <aside th:replace="/index :: .aside-left"></aside>
    <div class="seung-wrapper">
        <nav th:replace="/index :: .nav-main"></nav>
        <div class="wrapper-contents">
            <!-- 여기부터 페이지마다 다름 -->
            <div class="board_header">
                <!-- 게시판 마다 다르게 설정 -->
                <h3 class="header_title">공지사항</h3>
            </div>
            <div>
                <span class="newPost_type_Span">타입</span>
                <select name="type" class="newPost_type">
                    <option value="1">알림</option>
                    <option value="2">업뎃</option>
                    <option value="3">중요</option>
                </select>
            </div>
            <textarea name="title" class="newPost_title" placeholder="제목을 입력하세요." required></textarea>
            <textarea name="contents" id="editor"></textarea>
            <button type="button" class="account-submit">수정</button>
            <!-- 여기까지 페이지마다 다름 -->
        </div>
        <div th:replace="/index :: .wrapper-aside-right"></div>
    </div>
</div>
<script src="/static/js/indexFront.js"></script>
<script src="/static/js/board/modifyPost.js"></script>
</body>
</html>