<!DOCTYPE html>
<html lang="ko" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/newAccount.css">

</head>
<body>
<div class="container">
    <aside th:replace="/index :: .aside-left"></aside>
    <div class="seung-wrapper">
        <nav th:replace="/index :: .nav-main"></nav>
        <div class="div-account">
            <h1>비밀번호 변경</h1>
            <form method="post" action="/member/modify">
                <input type="password" name="password_now" class="account-input" placeholder="현재 비밀번호" required>
                <th:block th:if="${error == 'validation_password_now'}">
                    <div class="alert-validation">
                        <span>현재 비밀번호가 다릅니다.</span>
                    </div>
                </th:block>
                <input type="password" name="password_new" class="account-input" placeholder="변경할 비밀번호" required>
                <th:block th:if="${error == 'validation_password_new'}">
                    <div class="alert-validation">
                        <span>비밀번호는 4~20글자로 구성되어야합니다.</span>
                    </div>
                </th:block>
                <button type="submit" class="account-submit">가입하기</button>
                <th:block th:if="${error == 'error_server'}">
                    <div class="alert-validation">
                        <span>서버 에러입니다.</span>
                        <span>관리자에게 문의바랍니다.</span>
                    </div>
                </th:block>
            </form>
        </div>
        <div th:replace="/index :: .wrapper-aside-right"></div>
    </div>
</div>
<script src="/static/js/indexFront.js"></script>
</body>
</html>