<!DOCTYPE html>
<html lang="ko" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/newAccount.css">
    <link rel="stylesheet" href="/static/css/board.css">
    <link rel="stylesheet" href="/static/css/boardPost.css">
</head>
<body>
<div class="container">
    <aside th:replace="/index :: .aside-left"></aside>
    <div class="seung-wrapper">
        <nav th:replace="/index :: .nav-main"></nav>
        <div class="wrapper-contents">
            <!-- 여기부터 페이지마다 다름 -->
            <div class="board_header">
                <h3 class="header_title"></h3>
            </div>
            <div class="board_read">
                <div class="read_header">
                    <div class="header"></div>
                    <div class="footer"></div>
                </div>
                <div class="read_body"></div>
                <div class="read_footer hidden">
                    <button class="btnSimple postModify" type="button">수정</button>
                    <button class="btnSimple postDelete" type="button">삭제</button>
                </div>
            </div>
            <div class="feedback">

            </div>
            <table class="board_body_table">
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">분류</th>
                    <th scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">날짜</th>
                    <th scope="col">조회수</th>
                </tr>
                </thead>
                <tbody class="jsTarget_tbody"></tbody>
            </table>
            <!-- 여기까지 페이지마다 다름 -->
        </div>
        <div th:replace="/index :: .wrapper-aside-right"></div>

    </div>
</div>
<script src="/static/js/indexFront.js"></script>
<script src="/static/js/board/post/posts.js"></script>
</body>
</html>