* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    border: none;
    margin: 0px;

    position: relative;
    color: #333;
    background-color: #141c1f;
}

.container {
    display: block;
}

.seung-wrapper {
    margin-left: 210px;

    width: 1000px;
}

.nav-main {
    position: absolute;
    top: 40px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 50px;

    background-color: #141c1f;
}

.dropdown {
    list-style: none;

    margin-left: 20px;

    color: white;
}

.aside-left {
    position: fixed;
    margin: 0;
    float: left;
    top: 0;
    left: 0;

    width: 180px;
    height: 100%;

    background-color: #141c1f;
}

.contents-wrapper {
    height: 1100px;
}

.wrapper-contents {
    position: absolute;
    top: 100px;
    float: left;

    width: 680px;
    height: 950px;

    background-color: white;
}

.contents {
    display: flex;
    justify-content: center;
    flex-flow: wrap;

    padding-top: 50px;
}

.widgetContainer {
    display: flex;
    flex-direction: column;
    margin: 9px 12px;

    border: 1px solid #dedede;
    background-color: #fff;

    width: 310px;
    height: 220px;
}

.widgetContainer a {
    margin-bottom: 5px;
    padding-left: 15px;
    padding-top: 3px;
    color: #141c1f;
    font-weight: bold;
}

.widgetContainer ul{
    margin: 0px;
    border-top: 2px solid #c00;
}

.wrapper-aside-right {
    position: absolute;
    top: 650px;
    left: 950px;

    background-color: white;
}

.aside-right {
    width: 260px;
    height: 260px;
}

.wrapper-footer {
    position: absolute;
    bottom: 0px;

    border-top: 3px solid #333333;

    width: 680px;
    height: 150px;

    background-color: white;
}