<!DOCTYPE html>
<html lang="ko" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티 게시판 메인</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div class="container">
    <aside class="aside-left">
        <div class="member">
            <div class="aside-left-logo_div">
                <a href="/"><img src="/static/images/main_logo.jpg"></a>
            </div>
            <div class="aside-left-span_div">
                <span>MEMBER</span>
            </div>
            <th:block th:if="${error == 'auth'}">
                <div class="alert-login">
                    <span>입력하신 정보와 일치하는 회원이 없습니다.</span>
                </div>
            </th:block>

            <!-- 이하는 js로 처리 (불러올때 짧게나마 잔상?같은게 보여서) -->

            <!--            <div class="aside-left-logo_div">-->
            <!--                <a href="/"><img src="/static/images/main_logo.jpg"></a>-->
            <!--            </div>-->
            <!--            <div class="aside-left-span_div">-->
            <!--                <span>MEMBER</span>-->
            <!--            </div>-->
            <!--            <th:block th:if="${error == 'auth'}">-->
            <!--                <div class="alert-login">-->
            <!--                    <span>입력하신 정보와 일치하는 회원이 없습니다.</span>-->
            <!--                </div>-->
            <!--            </th:block>-->
            <!--            <form class="login-form" method="post" action="/member/login">-->
            <!--                <div class="input-div">-->
            <!--                    <input class="login-form-input" type="text" name="username" placeholder="아이디" required>-->
            <!--                    <input class="login-form-input" type="password" name="password" placeholder="비밀번호" required>-->
            <!--                </div>-->
            <!--                <div class="button-div">-->
            <!--                    <button class="login-form-btn-login" type="submit">로그인</button>-->
            <!--                </div>-->
            <!--                <div class="findAccount-div">-->
            <!--                    <button class="login-form-findAccount" type="button">아이디 / 비밀번호찾기</button>-->
            <!--                </div>-->
            <!--                <div class="button-div">-->
            <!--                    <button class="login-form-btn-newAccount" type="button">회원가입</button>-->
            <!--                </div>-->
            <!--            </form>-->
            <!--            <div class="login-success hidden">-->
            <!--                <span class="login-username">OO</span><span class="login-username2">님 반갑습니다.</span>-->
            <!--                <div class="button-div">-->
            <!--                    <button class="login-btn-logout" type="button" onclick="location.href='/logout'">로그아웃</button>-->
            <!--                </div>-->
            <!--            </div>-->


        </div>
        <script src="/static/js/getLogin.js"></script>
    </aside>
    <div class="seung-wrapper">
        <nav class="nav-main">
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                   aria-expanded="false">서버알림</a>
                <ul class="dropdown-menu" style="display: none">
                    <li>
                        <a href="#" class="dropdown-item">공지사항</a>
                        <a href="#" class="dropdown-item">이벤트게시판</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">자주
                    묻는 질문</a>
                <ul class="dropdown-menu" style="display: none">
                    <li>
                        <a href="#" class="dropdown-item">자주 묻는 질문</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                   aria-expanded="false">커뮤니티</a>
                <ul class="dropdown-menu" style="display: none">
                    <li>
                        <a href="#" class="dropdown-item">자유게시판</a>
                        <a href="#" class="dropdown-item">파일게시판</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">포인트센터</a>
                <ul class="dropdown-menu" style="display: none">
                    <li>
                        <a href="#" class="dropdown-item">포인트공지</a>
                        <a href="#" class="dropdown-item">아이콘샵</a>
                        <a href="#" class="dropdown-item">아이디컬러샵</a>
                        <a href="#" class="dropdown-item">포인트복권</a>
                        <a href="#" class="dropdown-item">포인트누적복권</a>
                        <a href="#" class="dropdown-item">가위바위보</a>
                        <a href="#" class="dropdown-item">출석체크</a>
                    </li>
                </ul>
            </li>
        </nav>
        <div class="contents-wrapper">
            <div class="wrapper-contents">
                <div class="contents">
                    <div class="widgetContainer">
                        <a href="/Notice" class="widgetName">공지사항</a>
                        <ul class="widgetNotice"></ul>
                    </div>
                    <div class="widgetContainer">
                        <a href="/Event" class="widgetName">이벤트게시판</a>
                        <ul class="widgetEvent"></ul>
                    </div>
                    <div class="widgetContainer">
                        <a href="/FAQ" class="widgetName">자주 묻는 질문</a>
                        <ul class="widgetFAQ"></ul>
                    </div>
                    <div class="widgetContainer">
                        <a href="/Free" class="widgetName">자유게시판</a>
                        <ul class="widgetFree"></ul>
                    </div>
                    <div class="widgetContainer">
                        <a href="/File" class="widgetName">파일게시판</a>
                        <ul class="widgetFile"></ul>
                    </div>
                    <div class="widgetContainer">
                        <a href="/Point" class="widgetName">포인트공지</a>
                        <ul class="widgetPoint"></ul>
                    </div>
                </div>
            </div>
            <div class="wrapper-aside-right">
                <aside class="aside-right">
                    <div class="postList-div">
                        <ul class="postList-nav" role="tablist">
                            <li class="postList active" role="presentation">
                                <a href="#" aria-controls="new_document" role="tab" data-toggle="tab"
                                   aria-expanded="true">최신글</a>
                            </li>
                            <li class="postList" role="presentation">
                                <a href="#" aria-controls="new_document" role="tab" data-toggle="tab"
                                   aria-expanded="false">최신댓글</a>
                            </li>
                            <li class="postList" role="presentation">
                                <a href="#" aria-controls="new_document" role="tab" data-toggle="tab"
                                   aria-expanded="false">인기글</a>
                            </li>
                        </ul>
                    </div>
                    <div class="postList-tab-content">
                        <div role="tabpanel" class="tab-pane active" id="new_document">
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">글 목록1</a>
                                </div>
                            </div>
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">글 목록2</a>
                                </div>
                            </div>
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">글 목록3</a>
                                </div>
                            </div>
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">글 목록4</a>
                                </div>
                            </div>
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">글 목록5</a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="new_comment">
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">댓글 목록1</a>
                                </div>
                            </div>
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">댓글 목록2</a>
                                </div>
                            </div>
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">댓글 목록3</a>
                                </div>
                            </div>
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">댓글 목록4</a>
                                </div>
                            </div>
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">댓글 목록5</a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="pop_document">
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">인기글1</a>
                                </div>
                            </div>
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">인기글2</a>
                                </div>
                            </div>
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">인기글3</a>
                                </div>
                            </div>
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">인기글4</a>
                                </div>
                            </div>
                            <div class="document_list_wrapper">
                                <div class="document_content">
                                    <a href="#">인기글5</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="wrapper-footer">
                <footer>

                </footer>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/indexFront.js"></script>
<script th:if="${logout != null}" th:inline="javascript">
    logout();
</script>
</body>
</html>